.section10{
	h6{
		font-family:KaushanFont;
		font-size:0.7rem;
	}
	h4{
		font-family:RalewayFont;
	}
	hr{
		@extend %hrHome;
	}
	p.mx-auto{
		@extend %paragraphs;
		width:45%;
	}
	p{
		@extend %paragraphs;
		width:100%;
	}
	.fa-envelope:before,.fa-map-marker-alt:before,.fa-phone:before{
		color:$primary-color;
		font-size:2rem;
	}
}